# Ignorar pastas específicas
untitled/
htmlReport/

# Ignorar a pasta target, exceto quando estiver dentro de src/main ou src/test
target/
!**/src/main/**/target/
!**/src/test/**/target/

# Ignorar pastas de IDEs
.idea/
*.iws
*.iml
*.ipr

# Ignorar arquivos e pastas do NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# Ignorar pastas do VS Code
.vscode/

# Outros arquivos ou pastas que você não quer no controle de versão
.DS_Store
Thumbs.db
